<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!--   
    namespace：必须与对应的接口全类名一致  
    id:必须与对应接口的某个对应的方法名一致  
      
 -->  
 
<mapper namespace="com.zxhy.xjl.rna.mapper.RealNameAuthMapper">
	<insert id="save" parameterType="com.zxhy.xjl.rna.model.RealNameAuth">
		insert into real_name_auth(phone, passwd)	values (#{phone},#{passwd})
	</insert>
	<update id="updatePasswd" parameterType="com.zxhy.xjl.rna.model.RealNameAuth">
		update real_name_auth set passwd=#{passwd} where phone=#{phone}
	</update>
	<update id="updateRealName" parameterType="com.zxhy.xjl.rna.model.RealNameAuth">
		update real_name_auth set id_name=#{idName}, id_code=#{idCode} where phone=#{phone}
	</update>
	<update id="updatePhoto" parameterType="com.zxhy.xjl.rna.model.RealNameAuth">
		update real_name_auth set id_photo_url=#{idPhotoUrl} where phone=#{phone}
	</update>
	<update id="updateFace" parameterType="com.zxhy.xjl.rna.model.RealNameAuth">
		update real_name_auth set face_url=#{faceUrl} where phone=#{phone}
	</update>
	<select id="findByPhone" resultType="com.zxhy.xjl.rna.model.RealNameAuth" parameterType="String">
		select phone,passwd,id_code,id_name,id_photo_url,face_url from real_name_auth where phone=#{phone}
	</select>
	<select id="getRegisterLinkByPhone" resultType="com.zxhy.xjl.rna.business.RealNameAuthTask" parameterType="String">
		select  phone,taskName from real_name_auth_task where phone=#{phone}
	</select>
	<delete id="delete" parameterType="string">
		delete from real_name_auth where phone=#{phone}
	</delete>
	<select id="adminLogin" resultType="com.zxhy.xjl.rna.model.Admin" parameterType="String">
		select  accountNumber,passwd from admin where accountNumber=#{accountNumber}
	</select>
	<select id="manualAudit" resultType="com.zxhy.xjl.rna.model.ManualAudit" parameterType="String">
	 select  a.ID_CODE ID_CODE,a.phone phone,a.id_name id_name ,b.processname processname,a.face_url face_url ,a.id_photo_url id_photo_url from REAL_NAME_AUTH  a ,REAL_NAME_AUTH_TASK  b where a.PHONE=b.PHONE and b.PROCESSNAME=#{PROCESSNAME}
	 </select>
	 <update id="updateManualAuditState" parameterType="com.zxhy.xjl.rna.model.ManualAudit" >
		update REAL_NAME_AUTH_TASK set processname=#{processname},taskname=#{processname} where phone=#{phone}
	</update>
</mapper>